body
{
  background-image: url("../IMG/sfondo.jpg");
  text-align: center;
  width: 98%;
  height: 90%;
}
/******DEFAULT ANIMATION********/
#divnumuscito
{
  position: absolute;
  top: 20%;
  left: -700px;
  width: 600px;
  height: 600px;
  background-color:  orange;
  color: darkred;
  box-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px darkorange;
  border: 10px solid darkred;
  border-radius: 100%;
  font-size: 500px;

}

/*******ANIMATION***********/
.move
{
  visibility: visible;
  left: 0px;
  animation-name: numberout;
  animation-duration: 20s;
}

@keyframes numberout {
  0% {left: -600px;}
  50% {left: 32%;}
  100% {left: 110%}
}

/******TITOLO***********/
h1
{
  display: inline-table;
  font-size: 3em;
  font-family: fantasy;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px darkorange;
  color: red;
  letter-spacing: 3px;
}

.button
{
  text-align: center;
  font-size: 1.5em;
  border-radius: 100%;
  height: 60px;
  width: 120px;
  background-color: rgba(182, 187, 191, 0.85);
}

#reset
{
  position: fixed;
  left: 0%;
}

#startrandom
{
  position: fixed;
  right: 0%;
}

.table
{
  width: 1880px;
  height: 800px;
  /*border-color: rgb(20, 14, 240);
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;*/
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
}

td
{
  color: rgba(6, 6, 6, 0.38);
  border-color: rgba(255, 156, 4, 0.62);
  border-style: solid;
  border-width: 2px;
  border-radius: 100%;
  height: auto;
  width: auto;
}
